    <div class="row row-cols-1 row-cols-md-3 my-3 mx-3 text-center ">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm" [ngClass]="movieTileCardClass" >
          <div class="card-body">
            <h1 class="card-title pricing-card-title" id="movie-title">{{movie.title}}</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{movie.year}}</li>
            </ul>
                <flop-rent-button [movie]="movie" (rentButtonClicked)="onAddMovieToRentals(movie)"></flop-rent-button>
          </div>
        </div>
      </div>
    