   <div class="row ml-6">
      <div class="col-md-12">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Rental List</h2>
          <p>Here is what in your cart.</p>
          <ul>
            <li *ngFor="let movie of rentalsList">{{movie.title}}</li>
          </ul>
          <button class="btn btn-outline-light" type="button" (click)="onClearRentalsClick()">Clear Rentals</button>
          <button class="btn btn-light mx-3" type="button">Check out</button>
        </div>
      </div>
    </div>